In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Milon/Rambam.csv', encoding = 'iso-8859-8')

In [3]:
df

                                     '           3
0                                 'אבל           2
1                                 'אחד           1
2                                  'אי           1
3                               'איסור           1
4                                  'אם           3
...                                ...         ...
376685                           תתש"א           1
376686                          תתשי"ט           2
376687                          תתשס"ט           1
376688                         תתתקדשי           1
376689                          תתתש"מ           1

[376690 rows x 2 columns]

In [4]:
df.shape

(376690, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376690 entries, 0 to 376689
Data columns (total 2 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0                                '  376690 non-null  object
 1            3                      376690 non-null  int64
dtypes: int64(1), object(1)
memory usage: 5.7+ MB

In [6]:
 df.head(25)

                                 '           3
0                             'אבל           2
1                             'אחד           1
2                              'אי           1
3                           'איסור           1
4                              'אם           3
5                            'אפשר           1
6                            'אתמר           1
7                           'בגוי'           1
8                             'במה           1
9                               'ג           1
10                            'דבר           1
11                           'דברי           1
12                         'דרבינו           1
13                           'ההיא           1
14                         'המחייב           1
15                          'המלוה           1
16                          'הנותן           1
17                            'הרי           1
18                           'ואני           1
19                          'ובאמת           1
20                           'והכי           1
21                         'והנכון           1
22                            'ויש           2
23                           'וכתב           3
24                        'ולעניות           1